<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab3"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <img src="assets/images/my-image2.png" alt="" width="195" class="toolbar-logo">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="about-container">
    
    <h1>Sobre</h1>
    <p>Este é um aplicativo de notícias e informações climáticas diárias. Mantenha-se atualizado com as últimas notícias e previsões do tempo.</p>
    <ion-button ion-button routerLink="/integrantes">Conheça nossa equipe</ion-button>
  </div>
</ion-content>
