<ion-header [translucent]="true">
</ion-header>

<ion-content class="ion-padding">
  <div class="flex-center">

    <ion-card>
      <ion-card-header>
        <img alt="logo" src="assets/images/NEWSUAM6.png" style="height: 100px; width: 100px;"/>
        <ion-card-title><h1>Login</h1></ion-card-title>
      </ion-card-header>
      <ion-card-content>

        <ion-input label="Login" type="text" color="dark" label-placement="floating" fill="outline" placeholder="Digite seu nome de usuário" [(ngModel)]="email" ></ion-input>
        <br>
        <ion-input label="Senha" type="password" color="dark" label-placement="floating" fill="outline" placeholder="Digite sua senha" [(ngModel)]="password"></ion-input>
        
        <ion-button fill="clear" >Esqueceu seu email/senha?</ion-button>
        <ion-button expand="block" (click)="onLogin()">Entrar</ion-button>
        <ion-button expand="block" >Cadastrar-se</ion-button>
        <br>
        

      </ion-card-content>
    </ion-card>

    

  </div>
</ion-content>
