<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img src="assets/images/my-image2.png" alt="" class="toolbar-logo">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="flex-center">
    <h1>{{saudacao}}</h1>
    <ion-card>
      <ion-card-header>
        <ion-grid>
          <ion-row>
            <ion-col size="9">
              <ion-grid>
                <ion-row>
                  <ion-col size="12" class="state-city">
                    <small>{{state}}, {{city}}</small>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="12">
                    <h1 class="temperature">{{temperature}}{{mensagem}}</h1>
                  </ion-col>
                  <ion-col size="12">
                    <small class="rain-probability">{{rainProbability}}</small>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
            <ion-col size="3" class="icon-time" text-end>
              <ion-icon [name]="iconName"></ion-icon>
              <h3 class="current-time">{{currentTime}}</h3>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-header>
    </ion-card>

    <div class="news-section-title">
      <h2>Aqui estão as notícias mais populares do dia de hoje!</h2>
    </div>

    <ion-card *ngFor="let article of topNews">
      <img alt="Silhouette of mountains" [src]="article.urlToImage" />
      <ion-card-header>
        <ion-card-title>{{ article.title }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>{{ article.description }}</p>
        <ion-button fill="outline" size="small" href="{{ article.url }}" target="_blank">Leia mais</ion-button>
      </ion-card-content>
    </ion-card>
  
    <ion-refresher slot="fixed" (ionRefresh)="refreshNews($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

  </div>
  
</ion-content>
