<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="flex-center">
    <h1>{{saudacao}} {{mensagem}}</h1>
    <ion-card>
      <ion-card-header>
        <ion-grid>
          <ion-row>
            <ion-col size="9">
              <ion-grid>
                <ion-row>
                  <ion-col size="12" class="state-city">
                    <small>{{state}}, {{city}}</small>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="12">
                    <h1 class="temperature">{{temperature}}</h1>
                  </ion-col>
                  <ion-col size="12">
                    <small class="rain-probability">{{rainProbability}}</small>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
            <ion-col size="3" class="icon-time" text-end>
              <ion-icon [name]="iconName"></ion-icon>
              <h3 class="current-time">{{currentTime}}</h3>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>
