<ion-header [translucent]="true">

</ion-header>

<ion-content class="ion-padding">
  <div class="flex-center">

    <ion-card>
      <ion-card-header>
        <img alt="logo" src="assets/images/NEWSUAM6.png" style="height: 100px; width: 100px;"/>
      </ion-card-header>
      <ion-card-content>
        <ion-card-title><h1>Trocar a senha</h1></ion-card-title>
        <ion-card-subtitle><H2>Enviar email de recuperação.</H2></ion-card-subtitle>
        <br>
        <ion-input label="Email" type="email" color="dark" label-placement="floating" fill="outline" [(ngModel)]="userEmail" readonly></ion-input>
        <br>
        <ion-button expand="block" (click)="sendPasswordReset()">Enviar</ion-button>
        <ion-button ion-button routerLink="/tabs/tab3" expand="block" ><ion-icon name="arrow-back-outline"></ion-icon>Voltar</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>