<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img src="assets/images/my-image2.png" alt="" class="toolbar-logo">
    </ion-title>
  </ion-toolbar>
</ion-header>

  <ion-segment [scrollable]='true' value="general" (ionChange)="mudancaCategoria($event)">
  <ion-segment-button value="general" checked>
    Geral
  </ion-segment-button>
  <ion-segment-button value="business">
    Negócios
  </ion-segment-button>
  <ion-segment-button value="entertainment">
    Entretenimento
  </ion-segment-button>
  <ion-segment-button value="science">
    Ciência
  </ion-segment-button>
  <ion-segment-button value="health">
    Saúde
  </ion-segment-button>
  <ion-segment-button value="sports">
    Esportes
  </ion-segment-button>
  <ion-segment-button value="technology">
    Tecnologia
  </ion-segment-button>
</ion-segment>

<ion-content class="ion-padding">

  <ion-refresher slot="fixed" (ionRefresh)="efeitoRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card *ngFor="let article of articles">
    <img alt="Silhouette of mountains" [src]="article.urlToImage" />
    <ion-card-header>
      <ion-card-title>{{article.title}}</ion-card-title>
      <ion-card-subtitle>{{category | titlecase}}</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <p>{{article.description}}</p>
      <div class="ion-text-center">
        <ion-button fill="outline" size="small" href="{{ article.url }}" target="_blank" style="--border-radius: 30px; --color: orangered; --border-color: orangered">Leia mais</ion-button>
      </div>
    </ion-card-content>

  </ion-card>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="scrollInfinito($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Carregando mais notícias...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="scrollToTop()">
      <ion-icon name="chevron-up-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
</ion-content>
