<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Perfil do Usuário</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" class="ion-text-center">
        <ion-avatar>
          <img src="assets/images/ronaldo.jpg" alt="Foto de Perfil" />
        </ion-avatar>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Nome</ion-label>
          <ion-input [(ngModel)]="userName" (ionChange)="onInputChange()"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input [(ngModel)]="userEmail" (ionChange)="onInputChange()"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" [disabled]="!isFormChanged" (click)="updateUserData()">Atualizar Dados</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" (click)="changePassword()">Mudar Senha</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
