ion-avatar {
    --border-radius: 50%;
    --size: 200px;
    width: 150px;
    height: 150px;
    margin: 20px auto;
}
  
ion-content {
    --padding-start: 16px;
    --padding-end: 16px;
}
  
ion-grid {
    padding: 16px;
  }

ion-button[expand="block"]{
    --background: #ff5204;
    text-transform: initial;
    --border-radius: 30px;
}