<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title><img src="assets/images/my-image2.png" alt="" class="toolbar-logo"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" class="ion-text-center">
        <ion-avatar>
          <img src="assets/images/image.png" alt="Foto de Perfil" />
        </ion-avatar>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input [(ngModel)]="userEmail" (ionChange)="onInputChange()"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" [disabled]="!isFormChanged" (click)="updateUserData()">Atualizar Dados</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button ion-button routerLink="/mudar-senha" expand="block">Deseja mudar sua senha?</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
