<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>INTEGRANTES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <div class="image-container">
      <ion-img src="assets/images/duda.jpg"></ion-img>
    </div>
    <ion-card-header>
      <h3>Código da turma: ADS0302M</h3>
      <h3>Código da aluna: 23105907</h3>
      <h3>Maria Eduarda Louvem Araujo</h3>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <div class="image-container">
      <ion-img src="assets/images/luis.jpg"></ion-img>
    </div>
    <ion-card-header>
      <h3>Código da turma: ADS0302M</h3>
      <h3>Código do aluno: 99999999</h3>
      <h3>Luís Henrique Figueiredo</h3>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <div class="image-container">
      <ion-img src="assets/images/ronaldo.jpg"></ion-img>
    </div>
    <ion-card-header>
      <h3>Código da turma: ADS0302M</h3>
      <h3>Código do aluno: 23107997</h3>
      <h3>Ronaldo Felipe da Silva Junior</h3>
    </ion-card-header>
  </ion-card>
</ion-content>