<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>config</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-toggle (ionChange)="toggleTheme()" [checked]="isDarkMode()" class="custom-toggle">
    <ion-icon [name]="isDarkMode() ? 'moon' : 'sunny'" class="theme-icon">modo claro/escuro</ion-icon>
  </ion-toggle>

  <ion-item>
    <ion-label>Font Size</ion-label>
    <ion-select [(ngModel)]="selectedFontSize" (ionChange)="onFontSizeChange($event)">
      <ion-select-option value="small">Pequeno</ion-select-option>
      <ion-select-option value="normal">Normal</ion-select-option>
      <ion-select-option value="large">Grande</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-button routerLink="/tabs/tab3">voltar</ion-button>
  
</ion-content>
